<section class="section-blogs">
    <div class="u-left-text u-margin-bottom-medium">
        <h2 class="heading-secondary">blogs</h2>
      </div>

      <div class="card card-md u-center-div">

      <div class="card__side card__side--front card__side-md">
      <div class="blog-single-large-front">
        <div class="blog-single-large-front-left">
          <picture>

          </picture>
        </div>

        <div class="blog-single-large-front-right">
          <h3 class="title-text title-text__for-blog">Create a Gradient Chart ... </h3>
          <h4 class="sub-title-text sub-title-text__for-blog">12 february 2022 </h4>
          <div class="author">
          <img src="images/me.jpg"/>
          <div>
            <p class="author-title">by Rehan</p>
            <p class="author-sub-title">31 DECEMBER 2021 • 6 MIN READ</p>
          </div>
          </div>
        </div>
      </div>
      </div>
        <div class="card__side card__side--back card__side-md">
          <div class="blog-single-large-back">
            <a href="https://javascript.plainenglish.io/create-a-gradient-analytics-chart-with-timeframe-picker-in-react-c59c2885fc74" target="_blank" class="btn btn--white">Read on Medium</a>
          </div>
      </div>

      </div>
</section>