@import "../abstracts/variables";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  
}

html {
  font-size: 10px; 
  overflow-x: hidden;
}

body { 
  box-sizing: border-box;
  overflow-x: hidden;
  padding: 0 !important;
}

.container{
  background-color: $color-pink;
  margin: 1rem;
}

a{
  text-decoration: none;
}