.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-medium {
    margin-bottom: 4rem;
  }

.u-margin-bottom-small {
    margin-bottom: 1.5rem;
  }
  
.u-inline-link{
color: rgb(86, 140, 255);
font-style: normal;
}

.u-left-text{
  margin-left: 20%;
}