.u-center-text {
  text-align: center;
  margin: 0 auto;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-center-div{
margin: 0 auto;
}

.mb-5{
  margin-bottom: 5px !important;
}

.mb-10{
  margin-bottom: 10px !important;
}

.mb-20{
  margin-bottom: 20px !important;
}

.u-margin-bottom-medium {
    margin-bottom: 5rem;
  }

.u-margin-bottom-small {
    margin-bottom: 1.5rem;
  }
  
.u-inline-link{
color: rgb(86, 140, 255);
font-style: normal;
}

.u-left-text{

  margin-left: $padding-left-mb;

  @include for-desktop{
  margin-left: 24%;
  }

}

.u-left-margin{
  margin-left: 24%;
}

.u-link{
  color: rgb(86, 140, 255);

  &::after{
    content: "";
  }
}