.links-container {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;

  z-index: -1;
  animation: animatedgradient 8s ease alternate infinite;
  margin: 0;

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
} 