<section class="section-features">
  <div class="row">
    <div class="col-1-of-4">
      <div class="feature-box">
        <i class="icon-basic-world feature-box__icon"></i>
        <h3 class="heading-turtery u-margin-bottom-small">Explore World</h3>

        <p>
          col-1-of-4edefefefefefe Lorem ipsum dolor sit amet consectetur
          adipisicing elit.
        </p>
      </div>
    </div>
    <div class="col-1-of-4">
      <div class="feature-box">
        <i class="icon-basic-compass feature-box__icon"></i>
        <h3 class="heading-turtery u-margin-bottom-small">Explore World</h3>
        <p>
          col-1-of-4edefefefefefe Lorem ipsum dolor sit amet consectetur
          adipisicing elit.
        </p>
      </div>
    </div>
    <div class="col-1-of-4">
      <div class="feature-box">
        <i class="icon-basic-map feature-box__icon"></i>
        <h3 class="heading-turtery u-margin-bottom-small">Explore World</h3>

        <p>
          col-1-of-4edefefefefefe Lorem ipsum dolor sit amet consectetur
          adipisicing elit.
        </p>
      </div>
    </div>
    <div class="col-1-of-4">
      <div class="feature-box">
        <i class="icon-basic-heart feature-box__icon"></i>
        <h3 class="heading-turtery u-margin-bottom-small">Explore World</h3>
        <p>
          col-1-of-4edefefefefefe Lorem ipsum dolor sit amet consectetur
          adipisicing elit.
        </p>
      </div>
    </div>
  </div>
</section>
