<div class="navigation">
  <input type="checkbox" class="navigation__checkbox" id="nav-toggle" />
  <label for="nav-toggle" class="navigation__button"><span class="navigation__icon"></span>&nbsp;</label>
  <div class="navigation__background">&nbsp;</div>
  <nav class="navigation__nav">
    <ul class="navigation__list">
      <li class="navigation__item">
          <a href="/" class="navigation__link">ABOUT</a>
        </li>
        <li class="navigation__item">
            <a href="/projects" class="navigation__link">PROJECTS</a>
          </li>
          <li class="navigation__item">
            <a href="/experience" class="navigation__link">EXPERIENCES</a>
          </li>
          <li class="navigation__item">
            <a href="/blog" class="navigation__link">BLOGS</a>
          </li>
    </ul>
  </nav>
</div>
