<section class="section-projects">
  <div class="u-left-text u-margin-bottom-medium section-projects-header">
    <h2 class="heading-secondary">Projects</h2>
    <a class="u-link">Github &#8680;</a>
  </div>
  <div class="project-box">
    <div class="project-box-text-box ">
      <h3 class="title-text">SDE Intern</h3>
      <h3 class="project-box-title-text project-box-title-text__heading">
        <span>Affilimate</span> : Unified Affiliate Dashboard and Content
        Analytics Affilimate aggregates affiliate commissions from different
        networks into a single, unified and user-friendly dashboard.
        <br>
        Build using <span>React js</span>
      </h3>
    </div>

    <img
      class="project-box-title-image"
      src="https://monicalent.com/images/affilimate.jpg"
    />
    <div class="project-box-text-box ">
        <h3 class="project-box-title-text">
    Unified Affiliate Dashboard and Content
          Analytics Affilimate aggregates affiliate commissions from different
          networks into a single, unified and user-friendly dashboard.
        </h3>
      </div>
  </div>
</section>
