<!DOCTYPE html>
<html lang="en">
    {{ partial "head.html" . }}
  <body>
    <div class="container">
      <main id="main">
        <header class="header">
            <div class="header__logo-box">
              <img src="images/logo-white.png" alt="" class="header__logo" />
            </div>
            <div class="header__text-box">
              <h1 class="heading-primary">
                <span class="heading-primary--main">{{.Site.Data.head.Heading}} </span>
                <span class="heading-primary--sub">{{ index .Site.Data.head "Heading Secondary" | markdownify }}</span>
              </h1>
              <a href="#" class="btn btn--white btn--animated">Discover our tours</a>
            </div>
          </header>
          {{ partial "about.html" . }}
          </main>
          <!-- {{ partial "grid.html" . }} -->
  </body>
</html>
