.experience-box {
    margin: 0 auto;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50vw;
    gap: 10%;

  &__slider {
    position: relative;

    ul {

        &::after{
            position:absolute;
            top: calc(var(--sidebar-position)*(100%/var(--number-of-items)));
            content: "";
            width: 3px;
            height: calc(100%/var(--number-of-items));
            background-color: $color-pink-2;
            transition: 300ms;
        }

        &::before{
            position:absolute;
            top: 0;
            content: "";
            width: 2px;
            height: 100%;
            background-color: $color-grey-light-2;
        }

      li {
        display: flex;
        flex-direction: row;
        align-items: center;
        color : $color-text-dark;
      }
    }

    input {
      width: 20rem;
      height: 5rem;
      z-index: 10;
      opacity: 0;


      &:checked + label {
        background-color: $color-grey-light-2;
      }

      &:hover + label{
        background-color: $color-grey-light-2;
    }
    }

    label {
      padding-left: 2rem;
      width: 20rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 5rem;
      position: absolute;
      left: 0;
      font-size: 1.7rem;
      transition: 200ms;
    }
  }

  @include for-desktop{
    flex-direction: row;
    width: 50vw;
  }

}

.experience-card{

  width: 90vw;
  margin-left: -20%;
  margin-top: 40px;

    &:not(&-0){
        display: none;
    }

    &-list{
      margin-left: 3rem;
      padding-top: 2rem;
    }

    .title-text{
      span{
        // color: #ffa7c4;
        font-weight: 300;
      }
    }


    @include for-desktop{
      width: unset;
      transform: unset;
      margin-left: unset;
      margin-top: unset; 
    }
}
