.project-box {
  margin: 0 auto;
  width: 90vw;

  &-text-box {
    margin-bottom: 5rem;

    margin-left: $padding-left-mb;

    @include for-desktop {
      width: 70%;
      margin-left: 14%;
    }
  }

  &-title-text {
    color: $color-black;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 0px;
    span {
      color: $color-pink-2;
    }

    br {
      content: "";
      display: block;
      margin-top: 2rem;
    }

    &__heading {
      &::first-line {
        font-size: 2.5rem;
        font-weight: 500;
        visibility: visible !important;
      }
    }
  }

  &-title-box {
    display: flex;
    justify-content: space-between;

    flex-direction: row;
    align-items: center;
  }

  &-title-image {
    width: 100%;
    margin-bottom: 3rem;
  }

  @include for-desktop {
    width: 72.5vw;
  }
}
