.project-box {
  margin: 0 auto;
  width: 72.5vw;

  &-text-box { 
    margin-left: 14%;
    margin-bottom: 5rem;
    width: 70%;
  }

  &-title-text {
    color: $color-black;
    font-weight: 400;
    margin-top: 15px;
    span {
      color: $color-pink-2;
    }

    br {
      content: "";
      display: block;
      margin-top: 2rem;
    }

    &__heading {
      &::first-line {
        font-size: 2.5rem;
        font-weight: 500;
      }
    }
  }

  &-title-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &-title-image {
    width: 100%;
    margin-bottom: 3rem;
  }
}
