.triangle-wrapper{
    .triangle-1{
        position: absolute;
        top: -10%;
        left: 0;
        opacity: .5;
    }
    .triangle-2{
        position: absolute;
        top: -10%;
        right: 0; 
        opacity: .5;
    }
}  