<section class="section-experience" id="experience">
  <div class="u-left-text u-margin-bottom-medium">
    <h2 class="heading-secondary">experience</h2>
  </div>
  <div class="experience-box">
    <div class="experience-box__slider">
      <ul style="--sidebar-position: 0; --number-of-items: 3">
        {{ range .data }}
        <li>
          <input type="radio" name="company" value={{.key}} id={{.key}}  />
          <label for={{.key}} >{{.company}}</label>
        </li>
        {{ end }}
      </ul>
    </div>
    <div class="experience-box__content">
        {{ range .data }}
        {{ partial "experience/single.html" (dict "context" . "myVar" .key  "company" .company "data" .data "timeframe" .timeframe "role" .role ) }} 
        {{ end }}
    </div>
  </div>
</section>

<script>
  const options = document.querySelectorAll("input[name='company']");
  const slider = document.querySelector(".experience-box__slider > ul");
  const cards = document.querySelectorAll(".experience-card");

  options.forEach((item) => {

    item.addEventListener("click", () => {

      cards.forEach((card) => {
        card.style.display = "none";
      });

      slider.style.setProperty("--sidebar-position", item.value);

      const selectedCard = document.querySelector(`.experience-card-${item.value}`);
      selectedCard.style.display = "block";

    });
  });
</script>
